body{
    color: #333;
    font-family: sans-serif;
}

.form_notes{
    margin-top: 60px;
    text-align: center;
    background: #26a;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

h2{
    margin: 0;
    flex-grow: 1;
    color: #eee;
    margin-right: 20px;
}

input {
    width: 30px;
    border:none;
}

input[type="button"] {
    width: auto;
    margin-left: 5px;
    color: #48e;
    background: #eee;
    letter-spacing: 1px;
}

.modal-background{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    position:absolute;
    top: 0;
    left: 0;
    display: none;
    opacity: 0;
}

.modal{
    background: #eee;
    width: 500px;
    margin: auto;
    text-align: center;
}

.result{
    font-size: 23px;
    margin-bottom: 5px;
}

.red{
    color: #d00;
}

.green{
    color: #0e0;
}

@keyframes aparecer{
    0% {
        opacity: 0;
        display: flex;
    }
    100% {
        opacity: 1;
        display: flex;
    }
}